--prefer-binary
--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.32.0
streamlit-google-auth==1.1.8

pdfplumber==0.9.0
python-docx==1.0.1

# spaCy - use 3.5.3 (has prebuilt wheels)
spacy==3.5.3
blis==0.7.10
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl

# Sentence Transformer (CPU)
sentence-transformers==2.2.2
torch==2.0.0+cpu

scikit-learn==1.2.0
nltk==3.8.1
fpdf2==2.7.0
python-magic==0.4.27
